body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica";
}

nav {
    overflow: hidden;
    background-color: #E6A923
}

nav a {
    text-decoration: none;
}

main {
    margin: 20px 80px;
}

#logo {
    float: left;
    color: #FFFFFF;
    font-size: 130%;
    margin-left: 80px;
    padding: 20px;
    background-color: #003755;
}

#profile {
    float: right;
    font-size: 130%;
    margin-right: 20px;
    padding: 20px;
    color: #FFFFFF;
}

#configuration {
    display: flex;
    gap: 5%;
}

.tableHead {
    display: flex;
    align-items: center;
}

#configuration table {
    border-collapse: collapse;
    width: 100%;
}

#configuration th {
    text-align: left;
}

#configuration td {
    border: 1px solid black;
    padding: 10px;
}

#courses {
    width: 35vw;
}

#breaks {
    width: 35vw;
}


.add {
    margin-left: auto;
}

button {
    padding: 13px;
    color: white;
    background-color: #0956A3;
    font-size: 105%;
}


/* edit.html */

#content {
    margin-left: 20px;
    margin-top: 20px;
}

#availableSections {
    padding: 5px;
    padding-left: 0px;
    max-width: 100%;
    margin: 0;

}

#availableSections td, th {
    padding: 20px;
    padding-left: 0px;
    text-align: left;
}
