body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica";
}

nav {
    overflow: hidden;
    background-color: #E6A923
}

nav a {
    text-decoration: none;
}

main {
    margin: 20px 80px;
}

#logo {
    float: left;
    color: #FFFFFF;
    font-size: 130%;
    margin-left: 80px;
    padding: 20px;
    background-color: #003755;
}

#profile {
    float: right;
    font-size: 130%;
    margin-right: 20px;
    padding: 20px;
    color: #FFFFFF;
}

#configuration {
    display: flex;
    gap: 5%;
}

.tableHead {
    display: flex;
    align-items: center;
}

#configuration table {
    border-collapse: collapse;
    width: 100%;
}

#configuration th {
    text-align: left;
}

#configuration td {
    border: 1px solid black;
    padding: 10px;
}

#courses {
    width: 35vw;
}

#breaks {
    width: 35vw;
}


.add {
    margin-left: auto;
}

button {
    padding: 13px;
    color: white;
    background-color: #0956A3;
    font-size: 105%;
}

#scheduleList {
    display: flex;
    flex-wrap: wrap;
}

#scheduleList > div {
    flex: 50%;
    padding-top: 40px;
}

/* Calendar */
 
#calendar {
    display: flex;
    margin-left: 5px;
}

#calendarContent {
    width: 100%;
}

.calendarDays {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
}

#times {
    margin-top: 78.5px;
    margin-right: 10px;
    text-align: right;
}

#classes {
    display: flex;
    width: 100%;
    height: 92%;
}

.dayCol {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    display: inline-block;
    margin: 3px;
}


/* edit.html */

#content {
    margin-left: 20px;
    margin-top: 20px;
}

#availableSections {
    padding: 5px;
    padding-left: 0px;
    max-width: 100%;
    margin: 0;

}

#availableSections td, th {
    padding: 20px;
    padding-left: 0px;
    text-align: left;
}
