{{> header}}
{{> navbar}}

<main>
    <div id="configuration">

        <div id="courses">
            <div class="tableHead">
                <h1 style="float: left;">Courses</h1>
                <div class="add">
                    <form action="addClass" method="get">
                        <button value="course" name="type" type="submit">+ Add Course</button>
                    </form>
                </div>
            </div>
            <table>
                <tr>
                    <th>CourseName</th>
                </tr>

                {{#subjects}}
                <tr>
                    <td>{{symbol}}: {{title}}</td>
                </tr>
                {{/subjects}}

            </table>
        </div>
        <div id="breaks">
            <div class="tableHead">
                <h1>Breaks</h1> 
                <div class="add">
                    <form action="edit" method="get">
                        <button value="break" name="type" type="submit">+ Add Break</button>
                    </form>
                </div>
            </div>
            <table>
                <tr>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>Break 1</td>
                </tr>
                <tr>
                    <td>Break 2</td>
                </tr>
            </table>
        </div>
    </div>

    <div id="schedule">
        <h1>Schedules</h1>
    </div>
    <hr>
    <button id="generate" onclick="generateSchedules(); "> Generate schedules </button>
    <div id="scheduleList">
    </div>
</main>
{{> footer}}
