<tr>
    <th>Title</th>
    <th>Class Number</th>
    <th>Instruction Mode</th>
    <th>Satisfies</th>
    <th>Credits</th>
    <th>Type</th>
    <th>Days</th>
    <th>Times</th>
    <th>Instructor</th>
    <th>Room</th>
    <th>Dates</th>
    <th>Seats</th>
</tr>
{{#sections}}
<tr>
    <td>{{subject.symbol}}: {{subject.title}}</td>
    <td>{{classNumber}}</td>
    <td>{{instruction_type}}</td>
    <td>{{subject.satisfies}}</td>
    <td>{{subject.credits}}</td>
    <td>{{type}}</td>
    <td>{{days}}</td>
    <td>{{times}}</td>
    <td>{{instructor}}</td>
    <td>{{room}}</td>
    <td>{{dates}}</td>
    <td>{{seats}}</td>
    <td><button onclick="confirmAdd({{classNumber}})">Add</button></td>
</tr>
{{/sections}}
