<tr>
    <th>Section</th>
    <th>Class Number</th>
    <th>Instruction Mode</th>
    <th>Satisfies</th>
    <th>Credits</th>
    <th>Type</th>
    <th>Days</th>
    <th>Times</th>
    <th>Instructor</th>
    <th>Room</th>
    <th>Dates</th>
    <th>Seats</th>
</tr>
{{#sections}}
<tr>
    <td>{{section}}</td>
    <td>{{classNumber}}</td>
    <td>{{instruction_type}}</td>
    <td>{{satisfies}}</td>
    <td>{{credits}}</td>
    <td>{{type}}</td>
    <td>{{days}}</td>
    <td>{{times}}</td>
    <td>{{instructor}}</td>
    <td>{{room}}</td>
    <td>{{dates}}</td>
    <td>{{seats}}</td>

</tr>
{{/sections}}
