{{> header}}
{{> navbar}}
<div id='calendar'>
    <div id='times'>
        <div>

        </div>
        {{#times}}
        <div>
            {{.}}
        </div>
        {{/times}}
    </div>
    <div id='calendarContent'>
        <div id='classes'>
            <div class="dayCol">
                <div class="calendarDays">Monday</div>
                <div style="position: relative; width: 100%; height: 100%">
                    {{#sections.0}}
                    {{#.}}
                    <div style="background-color: red; position: absolute; top: {{third}}%; width:100%; height: {{second}}%">{{first.subject.symbol}}<br>{{first.start_time}}-{{first.end_time}}</div>
                    {{/.}} 
                    {{/sections.0}}
                </div>
            </div>

            <div class="dayCol">
                <div class="calendarDays">Tuesday</div>
                <div style="position: relative; width: 100%; height: 100%">
                    {{#sections.1}}
                    {{#.}}
                    <div style="background-color: red; position: absolute; top: {{third}}%; width: 100%; height: {{second}}%">{{first.subject.symbol}}<br>{{first.start_time}}-{{first.end_time}}<br>{{first.room}}</div>
                    {{/.}} 
                    {{/sections.1}}
                </div>
            </div>

            <div class="dayCol">
                <div class="calendarDays">Wednesday</div>
                <div style="position: relative; width: 100%; height: 100%">
                    {{#sections.2}}
                    {{#.}}
                    <div style="background-color: red; position: absolute; top: {{third}}%; width: 100%; height: {{second}}%">{{first.subject.symbol}}<br>{{first.start_time}}-{{first.end_time}}<br>{{first.room}}</div>
                    {{/.}} 
                    {{/sections.2}}
                </div>
            </div>

            <div class="dayCol">
                <div class="calendarDays">Thursday</div>
                <div style="position: relative; width: 100%; height: 100%">
                    {{#sections.3}}
                    {{#.}}
                    <div style="background-color: red; position: absolute; top: {{third}}%; width: 100%; height: {{second}}%">{{first.subject.symbol}}<br>{{first.start_time}}-{{first.end_time}}<br>{{first.room}}</div>
                    {{/.}} 
                    {{/sections.3}}
                </div>
            </div>


            <div class="dayCol">
                <div class="calendarDays">Friday</div>
                <div style="position: relative; width: 100%; height: 100%">
                    {{#sections.4}}
                    {{#.}}
                    <div style="background-color: red; position: absolute; top: {{third}}%; width: 100%; height: {{second}}%">{{first.subject.symbol}}<br>{{first.start_time}}-{{first.end_time}}<br>{{first.room}}</div>
                    {{/.}} 
                    {{/sections.4}}
                </div>
            </div>


            <div class="dayCol">
                <div class="calendarDays">Saturday</div>
                <div style="position: relative; width: 100%; height: 100%">
                    {{#sections.5}}
                    {{#.}}
                    <div style="background-color: red; position: absolute; top: {{third}}%; width: 100%; height: {{second}}%">{{first.subject.symbol}}<br>{{first.start_time}}-{{first.end_time}}<br>{{first.room}}</div>
                    {{/.}} 
                    {{/sections.5}}
                </div>
            </div>


            <div class="dayCol">
                <div class="calendarDays">Sunday</div>
                <div style="position: relative; width: 100%; height: 100%">
                    {{#sections.6}}
                    {{#.}}
                    <div style="background-color: red; position: absolute; top: {{third}}%; width: 100%; height: {{second}}%">{{first.subject.symbol}}<br>{{first.start_time}}-{{first.end_time}}<br>{{first.room}}</div>
                    {{/.}} 
                    {{/sections.6}}
                </div>
            </div>
        </div>
    </div>

</div>

{{> footer}}
